<div *ngFor=" let todo of todos | async" class="container">
  <div>
    <div class="input-wrapper">
      <h3>{{todo.title}}</h3>
      <app-button (onClick)="deleteTodo(todo.id)" [titleProps]="'delete'"/>
    </div>
    <ul class="list">
      <app-tasks [todoId]="todo.id"></app-tasks>
    </ul>
    <div class="button-container">
      <app-button [titleProps]="'All'" (onClick)="onClickButton()"></app-button>
      <app-button [titleProps]="'Active'" (onClick)="onClickButton()"></app-button>
      <app-button [titleProps]="'Completed'" (onClick)="onClickButton()"></app-button>
    </div>
  </div>
</div>
